include LICENSE.txt
include MANIFEST.in
recursive-include tests *
recursive-include ideas *
recursive-include games *
prune sandbox
prune games/Zed_is_me
exclude games/play_zed_is_me*
global-exclude */.svn/*
global-exclude */.idea/*
global-exclude */__pycache__/*
global-exclude *.class
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.coverage
global-exclude nosetests.xml
