include LICENSE.txt
include MANIFEST.in
include tale/soul_adverbs.txt
include tale/tio/quill_pen_paper.ico
include tale/tio/quill_pen_paper.gif
recursive-include tale/web *
recursive-include tests *
recursive-include ideas *
recursive-include stories *
recursive-include docs *
global-exclude .git
global-exclude .tox
global-exclude .idea
global-exclude .cache
global-exclude *_cache
global-exclude */__pycache__/*
global-exclude *.py[cozd]
global-exclude *.zip
global-exclude *.coverage
global-exclude nosetests.xml
