body {
    font-family: Cambria, Georgia, 'DejaVu Serif', 'Droid Serif', serif;
    font-size: 12pt;
    color: black;
    background: #f8f8f0;
    margin-left: 1em;
}
h2 {
    margin: 1ex 0 0 0;
}
pre, #input-cmd {
    font-family: Consolas, Monaco, "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    font-size: 13pt;
}
#input-cmd {
    padding: 3pt;
    width: 30em;
}
input {
    font-size: inherit;
}

.location {
    text-align: right;
    margin-bottom: 2pt;
}
.location > span {
    color: green;
}
.story {
    width: 90%;
}
.textframe {
    font-family: Cambria, Georgia, 'DejaVu Serif', 'Droid Serif', serif;
    font-size: 14pt;
    border: 1px solid cadetblue;
    overflow: auto;
    height: 34em;
    margin-bottom: 1em;
    padding: 1em;
}

p, pre {
    padding: 0pt;
    margin: 0 0 0.5ex 0;
}

.txt-bright {
    color: darkgreen;
    font-weight: bold;
}
.txt-normal {}
.txt-dim {
    color: brown;
}
.txt-ul {
    text-decoration: underline;
}
.txt-it {
    font-style: italic;
}
.txt-rev {
    background-color: darkslateblue;
    color: white;
}
.txt-living {}
.txt-player {}
.txt-item {}
.txt-exit {
    color: maroon;
    font-weight: bold;
}
.txt-location {
    color: navy;
    font-weight: bold;
}

.txt-monospaced, .txt-userinput {
    font-family: Consolas, Monaco, "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

.txt-userinput {
    font-size: 90%;
    color: maroon;
    font-style: italic;
    padding-left: 2em;
    padding-top: 1em;
    display: block;
}

