html, body {
    height: 100%;
}
body {
    font-family: Georgia, 'Droid Serif', 'DejaVu Serif', serif;
    font-size: 12pt;
    color: black;
    background: #f8f8f0;
    margin: 1em;
}
h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1ex;
}
h1 { font-size: 160%; }
h2 { font-size: 140%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }
h5 { font-size: 100%; }


.txt-monospaced, .txt-userinput, pre, #input-cmd {
    font-family: Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Consolas, "Courier New", monospace;
    line-height: 1.2;
    font-size: 11pt;
}

p {
    line-height: 1.4;
}
pre {
    white-space: pre;
    font-size: 11pt;
}

#input-cmd {
    padding: 3px;
    width: 28em;
}
.location {
    text-align: right;
    margin-bottom: 4pt;
    font-style: italic;
}
.location > span {
    color: green;
}
.story {
    margin-top: -2ex;
    width: 100%;
    max-width: 51em;
}
.textframe {
    border: 1px solid cadetblue;
    overflow: auto;
    height: 34em;
    margin-bottom: 1em;
    padding: 1em;
}

p, pre {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.txt-bright {
    color: darkgreen;
    font-weight: bold;
}
.txt-normal {}
.txt-dim {
    color: cadetblue;
}
.txt-ul {
    text-decoration: underline;
}
.txt-it {
    font-style: italic;
}
.txt-rev {
    background-color: darkslateblue;
    color: white;
}
.txt-living {}
.txt-player {}
.txt-item {}
.txt-exit {
    color: maroon;
    font-weight: bold;
}
.txt-location {
    color: navy;
    font-weight: bold;
}

.txt-userinput {
    color: maroon;
    font-style: italic;
    padding-left: 2em;
    padding-top: 1em;
    display: block;
}

.server-error {
    color: white;
    background-color: maroon;
    font-style: italic;
}

#img-logo {
    vertical-align: top;
}